%section#posting

  .articleBanner
    -# <h1 style = "color:#FAF7ED;text-shadow:0 1px 0 rgba(0,0,0,0.6)">I AM A TITLE FOOL</h1>
    -# <img src="/assets/standin_beer.jpg" />
    
    != @post.title
    
  .wrapper
    
    %article.skySideContent
      %header 
        = render "main/post_header"
        
      .postContent
        != @post.content
 
    %aside.skySideAside
      sd
    %section.sectionTopsRow
      as